<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
</head>
<body>
    <h1>Signup</h1>
    <form action="/api/admin/auth/register" method="POST">
    <input type="text" name="email">
    <input type="password" name="password">
    <input type="submit" value="SignUp">
    </form>
</body>

</html> 